<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1><b>S</b>elf <b>T</b>eaching <b>E</b>ducation <b>P</b>ortal</h1>
    <br />
    <h2>Step-by-step learning experience</h2>
    <br />
    <%= link_to 'Learn More', courses_path, class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>

<br />
<div class="row feature text-center" id="front-page">
  <div class="booyah-box col-12 col-sm rounded">  
    <h3>Amazing Courses</h3>
    <br />
    <p> Choose from any number of courses to study with amazing teachers.</p>
  </div>

  <div class="booyah-box col-12 col-sm rounded">
    <h3>Learn about our Team</h3>
    <br />
    <p>Our team consists of the best of the best that any team has to offer</p>
  </div>

  <div class="booyah-box col-12 col-sm rounded">
    <h3>Join our Community</h3>
    <br />
    <p>Learn with a community of like-minded individuals.</p>
  </div>
</div>