<br />

<div class="booyah-box col-10 offset-1">
  <h1>Team</h1>
  <br />
  <br />

    <div class="row team-member">
      <div class="col-2"> 
        <%= image_tag("/assets/Meatwad.png", class: "clearfix") %>
      </div>  
      <p class="col-10">
        Meatwad is one of the four main characters in Aqua Teen Hunger Force. His low intelligence, naivety, trusting nature, and sexual frustration often cause him to be abused and manipulated by others, most notably Master Shake and the Mooninites.
      </p>
    </div>

    <div class="row team-member">
      <div class=" col-2">   
        <%= image_tag("/assets/Master_Shake.png", class: "clearfix") %>
      </div>    
      <p class="col-10">
        Master Shake (briefly known as Mocha Shake), usually referred to as simply Shake, is one of the four main characters on Aqua Teen Hunger Force. The self-proclaimed leader of the Aqua Teens, Shake is the most erratic, selfish, and idiotic of the group, delivering misfortune to those around him (most especially his next-door neighbor Carl) through his extreme stupidity and naivety frequently causes his various schemes to backfire on him.
      </p>
    </div>

    <div class="row team-member">
      <div class="col-2">
        <%= image_tag("/assets/Frylock.png", class: "clearfix") %>
      </div>
      <p class="col-10">
        Frylock is one of the four main characters on Aqua Teen Hunger Force. He is the most rational and intelligent member of the Aqua Teens. He is also considered to be a scientist; although, some of his motives and means of doing scientific research are a bit shady at times.
      </p>
    </div>

  <br />
</div>