@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Passion+One&display=swap');


.navbar {
  font-family: 'Passion One', cursive;
  font-weight: 300;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
  background: image_url('dust_scratches.png')
}

.navbar-brand {
  font-weight: 300;
  font-size: 45px;
}

.hero {
  background: image_url('helloquence.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 370px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
}


h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

.frosty {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
}

.frosty h1 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.frosty h2 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.btn {
  border-radius: 0;
  background-color: #3f71c1;
  border-color: #3f71c1
}