@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Passion+One&display=swap');

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #3a393e;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
}

#front-page div.booyah-box {
  margin-right: 10px;
  margin-left: 10px;
}

.navbar {
  font-family: 'Passion One', cursive;
  font-weight: 300;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
  background-color: #c2b6b6;
  background-image: linear-gradient(315deg, #c2b6b6 0%, #576574 74%);
}

.navbar-brand {
  font-weight: 300;
  font-size: 45px;
  text-color: #ff5b0f;
}

a {
  color: #000000;
}

a:focus, a:hover {
  color: #ff5b0f;
}

.nav > li > a:hover{
    background-color:#ff5b0f;
}

.hero {
  background: image_url('laptop_glow.JPG') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 370px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
}


h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

h1 {
  font-family: "Helvetica Neue", Helvetica;
}

.frosty {
  color: white;
}

.frosty h1 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.frosty h2 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.btn {
  border-radius: 0;
  background-color: #ff5b0f;
  border-color: #000000;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.4)
}

.btn:hover {
  background-color: #000000;
  border-color: #000000; 
}

.feature {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}
body {
  background: image_url('pw_maze_white');
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#flex-content-container {
  flex: 1;
}

#footer {
  position: relative;
  width: 100%;
  min-height: 100px;
  background-color: #000000;
  color: white;
  font-family: "Helvetica Neue", Helvetica;
  padding: 10px 0px;
  margin-top: 30px;
}

#footer a {
  color: white;
  font-weight: 100;
}

b {
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 300px;
}

.invalid-feedback{
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
  margin: 10px;
}

.clr {
  clear: both;
}

.divider {
    width:5px;
    height:auto;
    display:inline-block;
}

.left-margin {
  margin-left: 10px;
}

